@{
    ViewData["Title"] = "App Vendas";
}

<div class="text-center">
    <h1 class="display-4 mt-5">App Vendas Web </h1>
    <p class="lead mt-3 mb-5">Bem vindo ao sistema de vendas online</p>
    <a asp-controller="Home" asp-action="IniciarVenda" class="btn btn-lg btn-outline-light p-5 ">
        <svg bootstrap-icon="CartPlusFill" width="32" height="32" aria-label="Vendas" class="mb-3"></svg>
        <br />Iniciar Venda
    </a>
</div>



